@use 'media' as *;
@use 'typography' as *;
@use 'functions' as *;
@use 'variables' as *;

.success-message {
  color: $blue800;
  h1 {
    @include text-preset-1-bold-mobile;
    @include media(tablet) {
      @include text-preset-1-bold;
    }
  }
  p {
    @include text-preset-2-regular;
    span {
      @include text-preset-2-bold;
    }
  }
  button {
    background-color: $blue800;
    color: $white;
    @include text-preset-2-bold;
    text-wrap: nowrap;
    border: 0;
    border-radius: 8px;
  }
}

.sign-up-info {
  color: $blue800;
  h1 {
    @include text-preset-1-bold-mobile;
    text-wrap: nowrap;
    @include media(tablet) {
      @include text-preset-1-bold;
    }
  }
  p,
  ul {
    @include text-preset-2-regular;
  }
  ul {
    @include media(desktop) {
      text-wrap: nowrap;
    }
  }
}

.email-form {
  .label-container {
    display: flex;
    color: $blue800;
    @include text-preset-3-bold;
    label {
      flex-grow: 1;
      flex-shrink: 0;
      max-width: pxToRem(416);
      min-width: pxToRem(217);
    }
    span {
      display: none;
      color: $red;
      text-wrap: nowrap;
    }
  }

  #email {
    outline: $grey;
    border-radius: 8px;
    border: 1px solid $grey;

    color: $blue800;
    @include text-preset-2-regular;
    &:focus + .submit-button {
      @include media(desktop) {
        @include gradient;
      }
    }
    &:focus &.error + .submit-button {
      @include media(desktop) {
        background-color: $blue800;
      }
    }
    &::placeholder {
      color: $grey;
    }
    &.error {
      border: 1px solid $red;
      background-color: hsl(4, 100%, 95%);
    }
    &:focus {
      border: 1px solid $blue800;
      &.error {
        border: 1px solid $red;
      }
    }
  }
  button {
    background-color: $blue800;
    color: $white;
    @include text-preset-2-bold;
    text-wrap: nowrap;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
  }
}
