@use 'media' as *;
@use 'typography' as *;
@use 'functions' as *;
@use 'variables' as *;

.success-message {
  color: $blue800;
  h1 {
    @include text-preset-1-bold-mobile;
  }
  p {
    @include text-preset-2-regular;
    span {
      @include text-preset-2-bold;
    }
  }
  button {
    background-color: $blue800;
    color: $white;
    @include text-preset-2-bold;
    text-wrap: nowrap;
    border: 0;
    border-radius: 8px;
  }
}

.sign-up-info {
  color: $blue800;
  h1 {
    @include text-preset-1-bold-mobile;
    text-wrap: nowrap;
  }
  p,
  ul {
    @include text-preset-2-regular;
  }
}

.email-form {
  label[for='email'] {
    color: $blue800;
    @include text-preset-3-bold;
  }
  #email {
    outline: $grey;
    border-radius: 8px;
    border: 1px solid $grey;
    color: $blue800;
    @include text-preset-2-regular;
    &:focus {
      border: 1px solid $blue800;
    }
  }
  button {
    background-color: $blue800;
    color: $white;
    @include text-preset-2-bold;
    text-wrap: nowrap;
    border: 0;
    border-radius: 8px;
  }
}
