@use 'media' as *;
@use 'typography' as *;
@use 'functions' as *;
@use 'variables' as *;

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: pxToRem(40);
  > .img-container {
    img {
      width: 100%;
      max-width: pxToRem(768);
    }
  }
}

.success-message {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  padding-block-start: pxToRem(149);
  flex-direction: column;
  gap: pxToRem(32);
  background-color: $white;
  z-index: 1;
  // opacity: 100%;
  // opacity: 0%;
  // opacity: 50%;
  > * {
    margin-inline: pxToRem(24);
  }
  p {
    flex-grow: 0.83;
    flex-shrink: 0;
  }
  button {
    padding-inline: pxToRem(104);
    padding-block: pxToRem(16);
    max-width: pxToRem(528);
    min-width: pxToRem(327);
  }
}
.sign-up-container {
  display: flex;
  flex-direction: column;
  gap: pxToRem(40);
  // padding: 2rem;
  .sign-up-info {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-inline: pxToRem(24);
    // justify-content: center;
    gap: pxToRem(24);

    ul {
      display: flex;
      // list-style: url('.././assets/images/icon-list.svg');
      flex-direction: column;
      flex-wrap: wrap;
      gap: pxToRem(8);
      li {
        position: relative;
        margin-inline: pxToRem(24);
        &::before {
          content: url(../assets/images/icon-list.svg);
          position: absolute;
          left: -24px;
          height: 21px;
        }
        p {
          margin-inline-start: pxToRem(16);
          // text-wrap: wrap;
        }
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    padding-inline: pxToRem(24);

    label {
      margin-block-end: pxToRem(8);
    }

    input {
      margin-block-end: pxToRem(24);
      padding-inline: pxToEm(24);
      padding-block: pxToEm(16);
      max-width: pxToRem(528);
      min-width: pxToRem(327);
    }

    button {
      padding-inline: pxToRem(48);
      padding-block: pxToRem(16);
      max-width: pxToRem(528);
      min-width: pxToRem(327);
    }
  }
}
