@use 'media' as *;
@use 'typography' as *;
@use 'functions' as *;
@use 'variables' as *;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @include media(tablet) {
    align-items: center;
    justify-content: center;
    background-color: $blue700;
  }
}

.layout-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: pxToRem(40);
  max-width: pxToRem(608);
  @include media(tablet) {
    background-color: $white;
    padding: pxToRem(40);
    border-radius: 36px;
    // min-width: pxToRem(608);
  }

  > .img-container {
    img {
      width: 100%;
      max-width: pxToRem(768);
      @include media(tablet) {
        border-radius: 15px;
      }
    }
  }
}

.success-message {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  padding-block-start: pxToRem(149);
  flex-direction: column;
  gap: pxToRem(32);
  background-color: $white;
  z-index: 1;
  // opacity: 100%;
  // opacity: 0%;
  // opacity: 50%;
  @include media(tablet) {
    width: pxToRem(504);
    height: pxToRem(520);
    border-radius: 36px;
    padding: pxToRem(64);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  > * {
    margin-inline: pxToRem(24);
  }
  p {
    flex-grow: 0.83;
    flex-shrink: 0;
  }
  button {
    padding-inline: pxToRem(104);
    padding-block: pxToRem(16);
    max-width: pxToRem(528);
    min-width: pxToRem(327);
  }
}
.sign-up-container {
  display: flex;
  flex-direction: column;
  gap: pxToRem(40);
  > * {
    @include media(tablet) {
      padding-inline: 0px;
    }
  }
  // padding: 2rem;
  .sign-up-info {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-inline: pxToRem(24);
    // justify-content: center;
    gap: pxToRem(24);

    ul {
      display: flex;
      // list-style: url('.././assets/images/icon-list.svg');
      flex-direction: column;
      flex-wrap: wrap;
      gap: pxToRem(8);
      li {
        position: relative;
        margin-inline: pxToRem(24);
        &::before {
          content: url(../assets/images/icon-list.svg);
          position: absolute;
          left: -24px;
          height: 21px;
        }
        p {
          margin-inline-start: pxToRem(16);
          // text-wrap: wrap;
        }
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    padding-inline: pxToRem(24);

    .label-container {
      margin-block-end: pxToRem(8);
    }

    input {
      margin-block-end: pxToRem(24);
      padding-inline: pxToEm(24);
      padding-block: pxToEm(16);
      max-width: pxToRem(528);
      min-width: pxToRem(327);
    }

    button {
      padding-inline: pxToRem(48);
      padding-block: pxToRem(16);
      max-width: pxToRem(528);
      min-width: pxToRem(327);
    }
  }
}

// TABLET

@include media(tablet) {
  body {
  }
  .layout-container {
    background-color: $white;
    padding: pxToRem(40);
    border-radius: 36px;
    .img-container {
      img {
        border-radius: 15px;
      }
    }
    .sign-up-container {
      > * {
        padding-inline: 0px;
      }
    }
  }
}
