*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 2.5rem;
}
body > .img-container img {
  width: 100%;
  max-width: 48rem;
}

.success-message {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  padding-block-start: 9.3125rem;
  flex-direction: column;
  gap: 2rem;
  background-color: hsl(0, 0%, 100%);
  z-index: 1;
}
.success-message > * {
  margin-inline: 1.5rem;
}
.success-message p {
  flex-grow: 0.83;
  flex-shrink: 0;
}
.success-message button {
  padding-inline: 6.5rem;
  padding-block: 1rem;
  max-width: 33rem;
  min-width: 20.4375rem;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.sign-up-container .sign-up-info {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-inline: 1.5rem;
  gap: 1.5rem;
}
.sign-up-container .sign-up-info ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.sign-up-container .sign-up-info ul li {
  position: relative;
  margin-inline: 1.5rem;
}
.sign-up-container .sign-up-info ul li::before {
  content: url(../assets/images/icon-list.svg);
  position: absolute;
  left: -24px;
  height: 21px;
}
.sign-up-container .sign-up-info ul li p {
  margin-inline-start: 1rem;
}
.sign-up-container form {
  display: flex;
  flex-direction: column;
  padding-inline: 1.5rem;
}
.sign-up-container form label {
  margin-block-end: 0.5rem;
}
.sign-up-container form input {
  margin-block-end: 1.5rem;
  padding-inline: 1.5em;
  padding-block: 1em;
  max-width: 33rem;
  min-width: 20.4375rem;
}
.sign-up-container form button {
  padding-inline: 3rem;
  padding-block: 1rem;
  max-width: 33rem;
  min-width: 20.4375rem;
}

.success-message {
  color: hsl(234, 29%, 20%);
}
.success-message h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;
}
.success-message p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
}
.success-message p span {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0;
}
.success-message button {
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0;
  text-wrap: nowrap;
  border: 0;
  border-radius: 8px;
}

.sign-up-info {
  color: hsl(234, 29%, 20%);
}
.sign-up-info h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;
  text-wrap: nowrap;
}
.sign-up-info p,
.sign-up-info ul {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
}

.email-form label[for=email] {
  color: hsl(234, 29%, 20%);
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0;
}
.email-form #email {
  outline: hsl(0, 0%, 58%);
  border-radius: 8px;
  border: 1px solid hsl(0, 0%, 58%);
  color: hsl(234, 29%, 20%);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
}
.email-form #email:focus {
  border: 1px solid hsl(234, 29%, 20%);
}
.email-form button {
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0;
  text-wrap: nowrap;
  border: 0;
  border-radius: 8px;
}/*# sourceMappingURL=main.css.map */